@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#wrapper{
    width: 100%;
    height: 100%;
}
#prices_list{
}
.in_item{
    width: 100%;
    height: 30px;
    display:flex;
    justify-content: space-between;
}
.in_item_shopname{
    line-height: 30px;
}
.in_item_shopimg_box{
    line-height: 30px;
}
.in_item_price{
    line-height: 30px;
}
.checkPageWrapper{
    position:fixed;
    float:left;
    text-align: center;
    width: 100%;
    bottom:0;
}

#checkPage{
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.main{
    width: 400px;
    height: 400px;
}
.multiplexor{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
#view_prices_vendors,#view_prices_history{
    position:relative;
    margin-top:0!important;
    float:left;
    padding: 10px 20px;
    border-radius: 10px;
    background: lightgray;
}