.header-wrap{
    position: sticky;
    z-index: 1000;
    top:0;
}
.header-panel{
    display:flex;
    justify-content: space-between;
    background: var(--admin-headbar);
    height: 50px;
    width: calc(100% - 100px);
    line-height: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.side-panel{
    width: 250px;
    height: 1000px;
    float:left;
    background: var(--admin-sidebar);
    position:sticky;
    top:50px;
    overflow: hidden;
}
.header-spacer{
    min-height: 1px;
    height: 100%;
    width: 250px;
    float: left;
}

#slide-burger-header{
    display: none;
}
#slide-burger-header i{
    font-size:20px;
}
#slide-burger{
    display: flex;
    justify-content: center;
}
#slide-burger i{
    font-size:30px;
}
@media only screen and (max-width:1000px) and (min-width: 0px) {
    .header-spacer{
        width: 0;
        height: 0;
    }
    .header-panel{
        padding: 0 20px;
        width: calc(100% - 40px);
    }
    #slide-burger-header{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #slide-burger{
        display: none;
    }
    .side-panel{
        width: 100%;
        height: 0;
        position: fixed;
        top:50px;
    }
}