.login input[type=text],input[type=password],input[type=email] {
    margin-bottom:2%;
    padding-left:3%;
    border-style:ridge;
    border-color:gray;
    border-radius: 10px;
    font-size: 20px;
}

.login input[type=submit] {
    margin-bottom:15%;
    padding-left:5%;
    padding-right:5%;
    border-style:ridge;
    border-color:gray;
    border-radius: 20px;
    font-size: 20px;
}
.login input:hover[type=submit] {
    background-color:#3b3b3b;
    color:white;
}

@media only screen and (max-width:1000px) and (min-width: 500px) {
    .login {
        width: 100%;
        border-bottom: 1px solid #bbb;
        border-right: none;
    }
    .login:last-child{
        border-bottom: none;
    }
}
@media only screen and (max-width:500px){
    .login {
        width: 100%;
        border-bottom: 1px solid #bbb;
        border-right: none;
    }
    .login:last-child{
        border-bottom: none;
    }
}
