.opinion input[type=text] {
    padding-left:3%;
    border-style:ridge;
    border-color:gray;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 0.5%;
}
.opinion textarea{
    border:3px ridge gray;
    border-radius: 10px;
    font-size: 15px;
}
.opinion input[type=submit] {
    margin-bottom:15%;
    padding-left:7%;
    padding-right:7%;
    border-style:ridge;
    border-color:gray;
    border-radius: 20px;
    font-size: 20px;
}
.opinion input:hover[type=submit] {
    background-color:darkred;
    color:white;
}
.opinion input:hover[type=text],.opinion input:active[type=text] {
    padding-left:3%;
    border-style:ridge;
    border-color:red;
    border-radius: 10px;
    font-size: 20px;
}
.opinion textarea:hover,.opinion textarea:active{

    border:3px ridge red;
    border-radius: 10px;
    font-size: 15px;
}

