.search_container{
    margin-top:10px;
    width: 100%;
    min-height: 800px;
}
#search_name{
    font-size:35px;
    width: 100%;
    float:left;
    outline:1px solid black;
}
.search_items_wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:12.5%;
    margin-right:12.5%;
}
@media only screen and (max-width:1000px) and (min-width: 500px) {
    #search_name{
        font-size:25px;
    }
}
@media only screen and (max-width:500px){
    .search_items_wrapper{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    #search_name{
        font-size:20px;
    }
}