
.navbar{
	background-color:dodgerblue;
	text-align: center;
	position: sticky;
	top: 0;
	padding-top:0.7%;
	width: 100%;
	height: 50px;
	z-index: 100;
	display:inline-block;
}

.navbar a{
	color: black;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 25px;
	text-decoration:none;
	border-color:gray;
	border-radius: 10px;
}
.navbar button{
	display: inline-block;
  	font-size: 25px;
	border-color:gray;
	border-radius:10px;

}
.navbar a:hover{
	background-color: #ddd;
	color:black;
}

.navbar a.active {
	background-color: #2196F3;
	color: white;
}

.navbar input[type=text] {
  	padding-left:2%;
  	padding-right:5%;
	border-style:ridge;
	border-color:gray;
	border-radius: 15px;
	font-size: 25px;
}
.dropdown
{
	display:inline-block;
}


body {
 	width:100%;
 	height: 100%;
    margin: 0;
    padding: 0;
 	background-color:white;
 	min-height: 100%;

}

.main{
	transform: translate(0px,-22px);
	padding-top:5%;
	margin-right: 15%;
 	margin-left: 15%;
 	text-align:center;
 	background-color:powderblue;
 	height:100%;
 	margin-bottom:0;
 	
}
.footer{
	text-align:right;
	background-color:black;
	color:white;

}
.logo
{
	height: 50px;
	width: 50px;
	display:inline-block;
	transform: translate(-30px,0px);
}
.moveup
{
	transform: translate(50px,-15px);
	display:inline-flex;
}

@media only screen and (max-width:1000px)
{
	.main{
		margin:0;
		background-color:gray;
	}
	

}