nav{
	background-color:dodgerblue;
	text-align: center;
	position: sticky;
	top: 0;
	padding-top:0.7%;
	width: 100%;
	height: 50px;
	z-index: 100;
}


.navbar a{
	color: black;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 25px;
	text-decoration:none;

	border-color:gray;
	border-radius: 15px;
}
.navbar a:hover{
	background-color: #ddd;
	color:black;
}
.navbar a.active {
	background-color: #2196F3;
	color: white;
}
.navbar input[type=text] {
  
	border-style:ridge;
	border-color:gray;
	border-radius: 15px;
	font-size: 25px;
}

body {
 	width:100%;
 	height: 100%;
    margin: 0;
    padding: 0;
 	background-color:white;
 	min-height: 100%;

}
.main{
	transform: translate(0px,-22px);
	padding-top:5%;
	margin-right: 15%;
 	margin-left: 15%;
 	text-align:center;
 	background-color:powderblue;
 	height:100%;
 	
}
