.navbar{
	background-color:#3b3b3b;
	text-align: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 100;
	display:inline-block;
}

.navbar a{
	color: white;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 25px;
	text-decoration:none;
	border-radius: 10px;
}

.navbar button{
	display: inline-block;
  	font-size: 25px;
	border-color:gray;
	border-radius:10px;

}
.navbar a:hover{
	background-color: white;
	color:black;
}

.navbar a.active {
	background-color: #2196F3;
	color: white;
}

.navbar input[type=text] {
	width: 90%;
  	padding-left:2%;
  	padding-right:5%;
	border-style:ridge;
	border-color:gray;
	border-radius: 15px;
	font-size: 25px;
}
.logo{
	display:inline-block;
}
.dropbtn{
}
.dropdown
{
	position:relative;
	display:inline-block;
	float:left;
	width: 5%;
	line-height: 50px;
}
.dropcontent{
	display:none;
	position:absolute;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;

}
.dropcontent a{
	color: white;
	padding-top:5%;
	padding-bottom:5%;
	text-decoration: none;
	display: block;

}
.dropcontent a:hover {
	background-color: white;
}
.dropdown:hover .dropcontent {
  display: block;
  background-color:#696969;
  border-radius: 15px;
}
.dropdown:hover .dropbtn {
  background-color: gray;
}
body {
 	width:100%;
 	height: 100%;
    margin: 0;
    padding: 0;
	background-color:#d1d0cf;
 	min-height: 100%;

}
.oferte{
	transform: translate(0px,-22px);
	list-style-type: none;
	overflow: hidden;
	padding-top:5%;
	padding-bottom:1%;
	margin-right: 15%;
 	margin-left: 15%;
 	text-align:center;
 	background-color:powderblue;
 	max-height:100%;
}
.oferte li
{
	float: left;
  	text-align: center;
  	padding-left: 3%;
  	padding-right: 3%;
  	font-size:25px;
}
.main{
	overflow: hidden;
	padding-top:1%;
	padding-bottom:1%;
	margin-right: 15%;
 	margin-left: 15%;
 	text-align:center;
 	background-color:white;
 	max-height:100%;
}

.footer{
	padding-top:1%;
	padding-bottom:1%;
	text-align:center;
	background-color:gray;
	color:white;
	max-height:100%;
	margin:0;

}
.navbar img
{   
	top:5px;
	padding-left: 3%;
	padding-right: 3%;
	max-height:35px;

}
.nav_wrapper{
	height: 100%;
	top:0;
	margin-left: 15%;
	margin-right: 15%;
}
.nav_wrapper .logo_wrap{
	float:left;
	width: 15%;
	margin-top:auto;
	line-height: 50px;
}
.nav_wrapper .fav_warp
{
	float:left;
	width: 15%;
	line-height: 50px;
}
.nav_wrapper .name_wrap
{
	line-height: 50px;
	float:left;
	width: 30%;
}
.nav_wrapper #name{

}
.search_bar_box{
	margin-top:0.5%;
	float:left;
	width: 35%;
	line-height: 50px;
}
.movile_search_bar_box{
	float:left;
}

@media only screen and (min-width: 1000px) {
	.hidden_l {
		display: none;
		width: 0;
		height: 0;
	}
}
@media only screen and (max-width:1000px) and (min-width: 500px)
{
	.hidden_m{
		display: none;
		width: 0;
		height: 0;
	}
	.nav_wrapper{
		margin-left: 5%;
		margin-right: 5%;
	}
	.nav_wrapper .logo_wrap{
		float:left;
		width: 20%;
	}
	.nav_wrapper .fav_warp
	{
		float:left;
		width: 15%;
	}
	.search_bar_box{
		float:left;
		width: 60%;
	}
	.navbar a{
		font-size: 25px;
	}
	.main{
		margin-left:5%;
		margin-right: 5%;
	}
}
@media only screen and (max-width:500px)
{
	.dropdown
	{
		width: 10%;
	}
	.nav_wrapper{
		margin-left: 2%;
		margin-right: 2%;
	}
	.hidden_s{
		display: none;
		width: 0;
		height: 0;
	}
	.nav_wrapper .logo_wrap{
		float:left;
		width: 25%;
		margin-right: 15%;
	}
	.nav_wrapper .fav_warp
	{
		float:left;
		margin-left: 20%;
		width: 25%;
	}
	.navbar a{
		font-size: 20px;
	}
	.main{
		margin-left:0%;
		margin-right: 0%;
	}
}





