.search_container{
    margin-top:10px;
    width: 100%;
    min-height: 800px;
}
#search_name{
    font-size:35px;
    width: 100%;
    float:left;
    outline:1px solid black;
}
.search_items_wrapper{
    margin-top:10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    margin-left:12.5%;
    margin-right: 15%;justify-content: center;
}
@media only screen and (max-width:1000px) and (min-width: 500px) {
    .search_items_wrapper{
        width: 85%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    #search_name{
        font-size:25px;
    }
}
@media only screen and (max-width:500px){
    .search_items_wrapper{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    #search_name{
        font-size:20px;
    }
}